# file tracked by DVC
/data
/checkpoints
/mlruns
/figures
/results
main.py

# Byte-compiled / optimized / DLL files
__pycache__/
models/__pycache__
utils/__pycache__
data_factory/__pycache__

*.py[cod]
*$py.class

# Flask stuff:
instance/
.webassets-cache

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints
# Environments
env/
python=3.9/
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
